<%= stylesheet_link_tag 'things/stuff' %>
<%= javascript_pack_tag 'things' %>
<%= stylesheet_pack_tag 'things' %>
<%= javascript_packs_with_chunks_tag 'things' %>
<%= stylesheet_packs_with_chunks_tag 'things' %>
<%= image_tag 'image_of_thing' %>
<p>Hello world</p>
